.known {
    -fx-border-color: green;
    -fx-border-radius: 4.0;
    -fx-background-insets: -2;
    /*-fx-border-width: default;*/
}

.learning {
    -fx-text-fill: white;

    -fx-border-color: green;
    -fx-border-radius: 4.0;
    -fx-background-color: #85bf85;
    -fx-background-radius: 4.0;
    -fx-background-insets: -2;
}

.unknown {
    -fx-text-fill: white;

    -fx-background-color: green;
    -fx-background-radius: 4.0;
    -fx-background-insets: -2;
}

.ignored {

}

.selected {
    -fx-border-color: yellow;
    -fx-border-radius: 4.0;
}